<%= @user.username %>

<h1 id="titulo"></h1>

<form id="question">
  <br><br>
  <label id="new_question"> New Question </label><br><br>
  <input type="submit" id="finish" value="Finish"> <br><br>
</form>




